client/.classpath
client/.factorypath
client/.project
client/.settings/
server/.classpath
server/.factorypath
server/.project
server/.settings/
server/.vscode/
server/transportadora.txt
server/cep.txt
server/target
client/target
